<!doctype html>
  <html>
    <head>
      <title> User #<%= id %></title>
    </head>
    <body>
      <p>You have loaded User #<%= id %></p>
      <img src="/images/funny.gif">
      <a href="/">Go back to index</a>
    </body>
  </html>
